TICK=1

LOG_PATH=./awesome.log
DAEMON_LOG_PATH=./awesome.daemon.log

DAEMON=true         # включение/выключение демона
DAEMON_TICK=5       # частота проверки процессов демоном в сукундах
DAEMON_CPU_LIMIT=85 # порог использования ЦП после которого процесс получает "замечание"
DAEMON_RAM_LIMIT=60 # порог использования ОЗУ(в процентах) после которого процесс получает "замечание"
DAEMON_CPU_QUOTA=20 # ограничение на использование процессора для процессов попавших в контрольную группу
DAEMON_RAM_QUOTA=8G # ограничение на использование ОЗУ для процессов попавших в контрольную группу